@page
@model IndexModel
@{
    ViewData["Title"] = "Výběr stolu";
}

<h1>Agilox Sorting Hall</h1>
<p>Vyber stůl:</p>

<ul>
    @foreach (var t in Model.Tables)
    {
        <li>
            <a asp-page="/Stul" asp-route-id="@t.Id">@t.Name</a>
        </li>
    }
</ul>

<p>Pro skladníka:</p>
<a asp-page="/Skladnik">Obrazovka skladníka</a>
