html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.hall-grid {
    display: inline-block;
}

    .hall-grid .row {
        display: flex;
    }

    .hall-grid .col {
        margin: 4px;
    }

.header-cell {
    text-align: center;
    font-weight: bold;
}

.slot {
    width: 80px;
    height: 80px;
    border: 3px solid #000;
    box-sizing: border-box;
}

    .slot.empty {
        background-color: white;
    }

    .slot.occupied {
        /* mùžeš pozdìji odstínit podle zaplnìní / stavu */
        background-color: #d0e8ff;
    }

.bottom-row form {
    display: flex;
    flex-direction: column;
}

.article-input {
    width: 80px;
    margin-bottom: 4px;
}

.btn-plus {
    width: 80px;
}
